{% extends "Hr/base_hr.html" %}

{% block title %}تحديث البيانات{% endblock %}

{% block page_title %}تحديث البيانات{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'accounts:home' %}">الرئيسية</a></li>
<li class="breadcrumb-item"><a href="{% url 'Hr:dashboard' %}">الموارد البشرية</a></li>
<li class="breadcrumb-item active">تحديث البيانات</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="embed-responsive">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe-tkwr7Q4p0maJ7FrHHVqYjFdD8n943KMG-GdIUjxdn6qj4A/viewform?embedded=true" 
                    width="100%" 
                    height="800" 
                    frameborder="0" 
                    marginheight="0" 
                    marginwidth="0"
                    class="embed-responsive-item">
                Loading...
            </iframe>
        </div>
    </div>
</div>
{% endblock %}